<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<body>
<nav>
  <ul>
    <li><a href="/pizza">Pizza Orders</a></li>
    <li><a href="/customer">Customer Details</a></li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>